body {
	background-image: url(https://d2vry01uvf8h31.cloudfront.net/_processed_/b/9/csm_eerstekeerstemmen_6cc2d7d8b7.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

#mid {
	padding-top: 15%;
}

#mid2 {
	padding-top: 100px;
}

h2 {
	color: red;
}

.card {
	width: 40rem;
}

li {
	width: 200px;
	float: left;
	margin-right: 60px;
}

#choose {
	text-align: center;
	float: left;
	padding-bottom: 10px;
	margin: 10px 0px 0px 20px
}

#space {
	float: right;
	margin-top: 5px;
}

#result {
	float: right;
}

#back {
	float: left;
}

#sorting {
	text-align: center;
}

#resultList {
	float: left;
}
